<html >
<head>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<style>
		.highlight {
			color : red;
		}

		.xClass {
			background-color: lightgrey
		}

		
	</style>
</head>
<body ng-app>
	<div class="container">

		<div ng-controller="greetingController">
			<h1 >{{greeting}}</h1>
			<input type="text" ng-model="greeting" />
		</div>

		<hr/>

		<div ng-controller="hotelsController">
			<div class="row">
				Name
				<input type="text" ng-model="hotel.name" class="input-sm" />
				Location
				<input type="text" ng-model="hotel.location" class="input-sm"/>
				Price
				<input type="text" ng-model="hotel.price" class="input-sm"/>

				<button class="btn btn-primary" ng-click="addHotel(hotel)">Add</button>
			</div>
			<br/>

			<div ng-show="showHotels">

				<div ng-repeat="hotel in hotels" ng-class="{highlight : hotel.price >
					20000}" ng-class-even="'xClass'" >
					<div class="row well" ng-dblclick="editMode = true">

						<img class="col-md-2 col-sm-4 col-xs-12" ng-src="http://i.imgur.com/{{hotel.imgUrl}}" />
						<div class="col-md-5 col-sm-4 col-sm-12">
							<h2 >
								<div ng-hide="editMode">{{hotel.name}}</div>
								<div ng-show="editMode">
									<input type="text" ng-model="hotel.name"/>
								</div>
								<div ng-hide="editMode">{{hotel.location}}</div>
								<div ng-show="editMode">
									<input type="text" ng-model="hotel.location"/>
								</div>
							</h2>
						</div>
						<div class="col-md-3 col-sm-4 hidden-xs">
							<div ng-hide="editMode">{{hotel.price}}</div>
							<div ng-show="editMode">
								<input type="number" ng-model="hotel.price" />
							</div>

						</div >
						<div class="col-md-2 col-sm-4 hidden-xs">
							<button ng-show="editMode" ng-click="editMode = false">
								<span class="glyphicon glyphicon-floppy-disk"></span>
							</button>
						</div>

					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="js/app.js"></script>
</body>
	</html>